[flake8]
max-line-length=160
extend-ignore =
    # Missing docstring in public module
    D100
    # Missing docstring in __init__
    D107
per-file-ignores =
    # Missing docstring in public package
    __init__.py: D104
